.mainFooter {
  background-color: $bgHeaderColor;
  color: #f2f2f2;
}
.conteinerFooter {
  display: flex;
  flex-direction: column;
  min-height: 236px;
  margin: 0 auto;
  letter-spacing: 1px;
  .footerBlockContactTitle,
  .footerWorkInfo {
    text-indent: 0;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  .footerWorkInfo {
    font-size: 18px;
  }
  .footerBlockContact {
    padding-top: 20px;
  }
  .footerBlockSocial {
    padding: 20px 0;
    justify-content: space-around;
    width: 155px;
    display: flex;
    .socialFacbook,
    .socialInstogram,
    .socialMail {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $primaryColor;
      img {
        width: 20px;
        height: 20px;
        margin: 30% auto;
      }
    }
  }
}

.bottomFooter {
  background-color: $bgSecondaryColor;
  min-height: 70px;
  display: flex;
}

.bottomFooterBlock {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  a {
    color: $footerFontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .developedBy {
    align-items: center;
    display: flex;

    img {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: $containerWidth) {
  .conteinerFooter {
    align-items: center;
  }

  .footerBlockContact {
    padding-top: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .conteinerFooter {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    .footerBlockSocial {
      padding: 0 10px;
      .titlePhone {
        font-weight: 100;
      }
    }
    .footerBlockSocial {
      padding-top: 35px;
      width: 200px;
      .socialFacbook,
      .socialInstogram,
      .socialMail {
        width: 50px;
        height: 50px;
      }
    }
  }

  .bottomFooterBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1299px;

    .developedBy {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
