.blogItem {
  p {
    color: #c5c5c5;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
  }
}

.itemBlogH2 {
  color: #c2a060;
  font-weight: 700;
  font-size: 21px;
  padding-top: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.itemBlogText {
  padding-top: 10px;
}
.blogItemImg {
  padding-top: 30px;
}
