.o_nasBaner {
  padding-top: 30px;
}
.infoTitleBlockO_nas {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px 0;
  font-weight: 800;
}

.blocO_nas {
  p {
    color: #f2f2f2;
    font-weight: 100;
    line-height: 30px;
    text-indent: 1.5em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primaryColor;
  }
}
