.slid{
	background-color: #161616;
	padding: 15px 10px  25px 10px;
	.slick-arrow, .slick-prev {
		display: none !important;
	}
	.mySlide{
		display: block !important;
		margin-left: auto;
		margin-right: auto;
	   padding: 6px;
	   img{
		   height: 100%;
	   }
	}

	li{
        text-align: center;
		position: relative;
		max-width: 300px;
		&::before{
			content: " ";
			bottom: -20px;
			max-width: 40px;
			width: 100%;
			left: -20px;
			height: 4px;
			position: absolute;
			background: grey;
		}
       button{
		 display: none;
	  }
	}
    .slick-slider{
		padding-bottom: 7%;
	}
}
.slick-active{
	&::before{
		background: $primaryColor !important;
	}
}
@media (min-width: 768px){
	.slid, .slideshow, .btm_all_proect {
		display: none;
	}
}

.mySlides{
	max-height: 400px;
	width: 47%;
}

.btm_all_proect{
	// padding-top: 30px;
	width: 100%;
	.titleAllProect{
		color:$primaryColor;
		img {
			width: 20px;
		}
	}
}

.slick-dots{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	justify-content: space-around;
	display: flex;
	li{
	  position: relative;
	  &::before{
		  content: " ";
		  width: 50px;
		  height: 2px;
		  background-color: #fff;
		  position: absolute;
	  }
	  button{
		  display: none;
	  }
	}
}


    // .slick-slider{
	// 	padding-bottom: 7%;
	// }

.slick-active{
	&::before{
		background: $primaryColor !important;
	}
}
@media (min-width: 768px){
	.slid, .slideshow, .btm_all_proect {
		display: none;
	}
}


.btm_all_proect{
	padding-top: 10px;
	width: 100%;
	.titleAllProect{
		color:$primaryColor;
		img {
			width: 20px;
		}
	}
}
